@import "variables.scss";
@import "layout.scss";
@import "menuAcordeon.scss";
@import "search.scss";
@import "facturacion.scss";
@import "generarFactura.scss";
@import "factura.scss";
@import "cuerpoFactura.scss";

body {
  margin: 0px;
  max-height: 100vh;
  font-family: $inter;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
