.cuerpo-factura {
  .title-cuerpoFactura {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 90px);
    p,
    h3 {
      margin: 0px;
      font-size: 13px;
    }
    h3 {
      color: $azul;
    }
    .contenedor-cantidad-precio {
      display: flex;
      gap: 30px;
    }
  }
  .contenedor-botones-newitemQr {
    display: flex;
    gap: 19px;
    margin-top: 10px;
    .button-newitem {
      width: 100%;
      border-radius: 8px;
      border: none;
      border: 1px dashed $azul;
      color: #acbadc;
      height: 40px;
    }
    .button-codigoQr {
      max-width: 90px;
      padding: 7px 22px;
      border-radius: 8px;
      border: none;
    }
  }
}
