.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  flex-grow: 0;
}

.layout {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  flex-grow: 1;
  #sidebar {
    background: linear-gradient(0deg, #f1f2f5, #f1f2f5);
    padding: 30px;
    .element-sidebar {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      p {
        margin: 0px;
      }
    }
  }
  #detail {
    background-color: #ebebeb;
    padding-inline: 20px;
  }
}
